USE [master]
GO
/****** Object:  Database [db2]    Script Date: 22-01-2026 10:40:11 ******/
CREATE DATABASE [db2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\db2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\db2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db2]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 22-01-2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] NOT NULL,
	[FullName] [varchar](100) NULL,
	[City] [varchar](50) NULL,
	[Segment] [varchar](20) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [date] NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 22-01-2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] NOT NULL,
	[CustomerID] [int] NULL,
	[OrderDate] [date] NULL,
	[Amount] [decimal](10, 2) NULL,
	[Status] [varchar](20) NULL,
	[PaymentMode] [varchar](20) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Customers] ([CustomerId], [FullName], [City], [Segment], [IsActive], [CreatedOn]) VALUES (201, N'John', N'Seatle', N'Retail', 1, CAST(N'2022-03-12' AS Date))
INSERT [dbo].[Customers] ([CustomerId], [FullName], [City], [Segment], [IsActive], [CreatedOn]) VALUES (202, N'Sean', N'Califronia', N'Retail', 0, CAST(N'2013-05-04' AS Date))
INSERT [dbo].[Customers] ([CustomerId], [FullName], [City], [Segment], [IsActive], [CreatedOn]) VALUES (203, N'Susan', N'Chicago', N'Corporate', 1, CAST(N'2012-06-05' AS Date))
GO
INSERT [dbo].[Orders] ([OrderId], [CustomerID], [OrderDate], [Amount], [Status], [PaymentMode]) VALUES (3001, 102, CAST(N'2011-01-10' AS Date), CAST(6000.98 AS Decimal(10, 2)), N'Pending', N'UPI')
INSERT [dbo].[Orders] ([OrderId], [CustomerID], [OrderDate], [Amount], [Status], [PaymentMode]) VALUES (3002, 101, CAST(N'2012-08-06' AS Date), CAST(5021.50 AS Decimal(10, 2)), N'Delivered', N'Card')
INSERT [dbo].[Orders] ([OrderId], [CustomerID], [OrderDate], [Amount], [Status], [PaymentMode]) VALUES (3003, 105, CAST(N'2011-08-07' AS Date), CAST(567812.00 AS Decimal(10, 2)), N'Cancelled', N'Cash')
GO
/****** Object:  StoredProcedure [dbo].[MyPractice]    Script Date: 22-01-2026 10:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[MyPractice]
@City varchar(50)
as 
Begin
select * from [dbo].[Customers] where City=@City
END

GO
USE [master]
GO
